@import url("https://use.typekit.net/yqp3rpj.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


*{
    color: rgb(27, 27, 27);
    font-family: alternate-gothic-atf, sans-serif;
  font-size: 20px;
}
body{
  background-image: url("https://wallpaperaccess.com/full/952192.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
@media all and (max-width:1009px) {
  .nav {
    height: 20vh !important;
  }
}
@media all and (max-width:621px){
  #bar{
    visibility: visible !important;
  }
  
  header{
    visibility: hidden !important;
  }
}
@media all and (min-width:621px){
  #New , #bar{
    visibility: hidden !important;

  }
  header{
    visibility: visible !important;
  }
}
@media all and (max-width:752px){
  .w-full{
    border: none !important;
  }
}



header {
  width: 100%;
  height: 50px;
  background-color: rgb(32, 32, 32);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header > nav > div {
  float: left;
  width: 16.6666%;
  height: 100%;
  position: relative;
}

header > nav > div > a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  line-height: 50px;
  color: whitesmoke;
  transition: background-color 0.2s ease;
}
header > nav > div:hover a{
  color: rgb(32, 32, 32);
}

header > nav > div:hover > a {
  background-color: white;
  cursor: pointer;
}

header > nav > div > div {
  display: none;
  overflow: hidden;
  background-color: white;
  min-width: 200%;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
}

header > nav > div:not(:first-of-type):not(:last-of-type) > div {
  left: -50%;
  border-radius: 0 0 3px 3px;
}

header > nav > div:first-of-type > div {
  left: 0;
  border-radius: 0 0 3px 0;
}

header > nav > div:last-of-type > div {
  right: 0;
  border-radius: 0 0 0 3px;
}

header > nav > div:hover > div {
  display: block;
}

header > nav > div > div > a {
  display: block;
  float: left;
  padding: 8px 10px;
  width: 46%;
  margin: 2%;
  text-align: center;
  
  color: #383737;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

header > nav > div > div > a:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
h1 {
  margin-top: 100px;
  font-weight: 100;
}

p {
  color: #aaa;
  font-weight: 300;
}

@media (max-width:600px) {
  header > nav > div > div > a {
      margin: 5px 0;
      width: 100%;
  }
  header > nav > div > a > span {
      display: none;
  }
}

.text-xl{
  font-size: 20px;
}






.big{
  font-size: 50px !important;
}
@media all and (max-width :636px) {
  .nav{
    height: 30vh !important;
  }
}



.dropdown{
  border-radius: 5px;
  padding: 16px;
  float: right;
  font-size: 18px;
  border: none;

}
.dropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}




#New {
  position:absolute;
  visibility: hidden;
  background-color: rgba(245, 245, 245, 0.842);
  width: 20vh;
  list-style-type: none;
  float: left;
  margin: -2vh -4vh;
}

#New li {
  padding: 8px;
  position: relative;
}

/* The sub dropdown */
#New ul {
  
  display: none;
  
  left: 0;
  position: absolute;
  top: 100%;
  background-color: rgba(245, 245, 245, 0.842);
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  width:20vh
}

/* The second level sub dropdown */
#New ul ul {
  left: 50%;
  top: 0;
}
/* Change background color of list item when being hovered */
#New li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Show the direct sub dropdown when hovering the list item */
#New li:hover > ul {
  display: block;
  margin-left: 20vh;
  width: 25vh;
  height: 40vh;
  margin-top: -6vh;
}


  .gmail span{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
  
    position: absolute;
    z-index: 1;
    margin: 6px;
  }
  .gmail:hover span{
    visibility: visible;
  }

  #dropdown-link p{
    font-size: 20px;
    color: rgb(27, 27, 27);
    
  }
  #dropdown-link{
    margin-top: 40px;
    width: 20vh;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
  }
  
.svg{
  display: inline-block;
  margin: 10px;
}

.docs{
  margin: 20vh 0vh;
}
#barimg{
  width: 5vh;
  height: 5vh ;
}

#bar{
  margin: -6vh -9vh;
  position: absolute;
  width: 6vh;
  height: 6vh;
  float: left;
  visibility: hidden;
}






@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1567 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: inline-block;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
  height: 50vh;
  width: 40vh;
}

.snip1567 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}


.snip1567 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1567 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #f3f3f3d0;
  top: 0;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.snip1567 > img{
  
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.snip1567 p {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0px 20px;
  opacity: 0;
  text-align: right;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}



.snip1567 a {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.snip1567:hover .hover,
.snip1567.hover .hover {
  opacity: 1;
}

.snip1567:hover p,
.snip1567.hover p {
  opacity: 1;
}

.snip1567:hover h3,
.snip1567.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.snip1567:hover i,
.snip1567.hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}


