@import url("https://use.typekit.net/yqp3rpj.css");

*{
    color: rgb(27, 27, 27);
    font-family: alternate-gothic-atf, sans-serif;
  font-size: 20px;
}
body{
  background-image: url("https://wallpaperaccess.com/full/952192.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  overflow-x: hidden;
  text-align: center;
}

@media all and (max-width:621px){
  #bar{
    visibility: visible !important;
  }
  
  header{
    visibility: hidden !important;
  }
}
@media all and (min-width:621px){
  #New , #bar{
    visibility: hidden !important;

  }
  header{
    visibility: visible !important;
  }
}

@media all and (max-width:752px){
  .w-full{
    border: none !important;
  }
}


header {
  width: 100%;
  height: 50px;
  background-color: rgb(32, 32, 32);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header > nav > div {
  float: left;
  width: 16.6666%;
  height: 100%;
  position: relative;
}

header > nav > div > a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  line-height: 50px;
  color: whitesmoke;
  transition: background-color 0.2s ease;
}
header > nav > div:hover a{
  color: rgb(32, 32, 32);
}

header > nav > div:hover > a {
  background-color: white;
  cursor: pointer;
}

header > nav > div > div {
  display: none;
  overflow: hidden;
  background-color: white;
  min-width: 200%;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
}

header > nav > div:not(:first-of-type):not(:last-of-type) > div {
  left: -50%;
  border-radius: 0 0 3px 3px;
}

header > nav > div:first-of-type > div {
  left: 0;
  border-radius: 0 0 3px 0;
}

header > nav > div:last-of-type > div {
  right: 0;
  border-radius: 0 0 0 3px;
}

header > nav > div:hover > div {
  display: block;
}

header > nav > div > div > a {
  display: block;
  float: left;
  padding: 8px 10px;
  width: 46%;
  margin: 2%;
  text-align: center;
  
  color: #383737;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

header > nav > div > div > a:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
h1 {
  margin-top: 100px;
  font-weight: 100;
}

p {
  color: #aaa;
  font-weight: 300;
}

@media (max-width:600px) {
  header > nav > div > div > a {
      margin: 5px 0;
      width: 100%;
  }
  header > nav > div > a > span {
      display: none;
  }
}

.text-xl{
  font-size: 20px;
}








/* Lazy Load Styles */
.card-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}
.body-font{
  font-size: 20px;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}


.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;

  text-decoration: none;
}
.card-description h1{
  color:  #515151;
  font-size: 20px;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}

.big{
  font-size: 50px !important;
}
@media all and (max-width :636px) {
  .nav{
    height: 30vh !important;
  }
}



.dropdown{
  border-radius: 5px;
  padding: 16px;
  float: right;
  font-size: 18px;
  border: none;

}
.dropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}




#New {
  position:absolute;
  visibility: hidden;
  background-color: rgba(245, 245, 245, 0.842);
  width: 20vh;
  list-style-type: none;
  float: left;
  margin: -2vh -4vh;
}

#New li {
  padding: 8px;
  position: relative;
}

/* The sub dropdown */
#New ul {
  
  display: none;
  
  
  position: absolute;
  top: 100%;
  background-color: rgba(245, 245, 245, 0.842);
  list-style-type: none;
  padding: auto;
  margin:0;
  float: right;
  width:40vh;
}

/* The second level sub dropdown */
#New ul ul {
  left: 50%;
  top: 0;
}

#New li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Show the direct sub dropdown when hovering the list item */
#New li:hover > ul {
  display: block;
  margin-left: 19vh;
  width: 25vh;
  height: 40vh;
  margin-top: -6vh;
}


  .gmail span{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-family:'Nunito', sans-serif;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
  
    position: absolute;
    z-index: 1;
    margin: 6px;
  }
  .gmail:hover span{
    visibility: visible;
  }

  #dropdown-link p{
    font-size: 20px;
    color: rgb(27, 27, 27);
    
  }
  #dropdown-link{
    margin-top: 40px;
    width: 20vh;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
  }
  
.svg{
  display: inline-block;
  margin: 10px;
}

.docs{
  margin: 20vh 0vh;
}
#barimg{
  width: 6vh;
  height: 6vh ;
}

#bar{
  margin: -6vh -9vh;
  position: absolute;
  width: 6vh;
  height: 6vh;
  float: left;
  visibility: hidden;
}