@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

*{
    color: red;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
}

@media all and (max-width:1009px) {
  .nav {
    height: 20vh !important;
  }
}

@media all and (max-width :636px) {
  .nav{
    height: 30vh !important;
  }
}

.nav{
    height: 14vh;
    background-color: white;
}
.mr-5{
    color: red;

}
.mr-5:hover{
    color: rgb(255, 101, 101);
}

  .dropdown{
    border-radius: 5px;
    padding: 16px;
    float: right;
    font-size: 18px;
    border: none;

  }
  .dropdown-content {
      display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  
.svg{
  display: inline-block;
  margin: 10px;
}

.gmail span{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-family:'Nunito', sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 7px;

  position: absolute;
  z-index: 1;
  margin: 6px;
}
.gmail:hover span{
  visibility: visible;
}

#dropdown-link p{
  font-size: 20px;
  color: red;
  
}
#dropdown-link{
  margin-top: 40px;
  width: 300px;
  border-radius: 3px;
  background-color: white;
}